{{#name}}
Welcome, {{.}}<br>
<form action="/create-message" method="post">
    <input type="text" placeholder="Enter message" name="text"/><br>
    <input type="hidden" value="{{replyId}}" name="replyId"/>
    <button type="submit">Submit</button>
</form>
{{/name}}

{{^name}}
<form action="/login" method="post">
    <input type="text" placeholder="Enter Username" name="userName"/><br>
    <input type="text" placeholder="Enter Password" name="passWord"/><br>
    <button type="submit">Login</button>
</form>
{{/name}}